* {
    padding: 15px;
    margin: 10px;
    font-style: normal;
    font-size: x-large;
    background-color: midnightblue;
}
h1 {
    color: #000;
}
p {
    column-gap: normal;
    color:aliceblue;
}
div {
    color: orange;
}