* {
    padding: 20px;
    margin: 10px;
    font-size: x-large;
    background-color: darkslateblue;
    height: 100%;

}
body {
display: flex;
justify-content: center;
align-items: center;
font-family: sans-serif;

}
.Card{
    color: #000;
    border: 5px solid white;
    border-radius: 0 20px;
    padding: 30px;
    text-align: center;
    
    width: 50%;
}

 .phone {
color: #ff9f43;
font-weight: bold;
  }
    