* {
    padding: 15px;
    margin: 10px;
    font-style: normal;
    font-size: x-large;
    background-color: midnightblue;
    display: flex;
    flex-direction: column;
    
}
body {
    border: 5px solid white;
    border-radius: 30px;

}
h1 {
    color: #000;
}
p {
    column-gap: normal;
    color:aliceblue;
}
div {
    color: orange;
}